calculator/bin
calculator/target
calculator/gen
webview/bin
webview/target
webview/gen
pushNotifications/pushNotificationsAndroid/bin
pushNotifications/pushNotificationsAndroid/gen
pushNotifications/pushNotificationsAndroid/target
